.grid-container {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;

  .grid-section {
    grid-column: 2 / 4;
  
    display: grid;
    grid-template-columns: 90px 300px 1fr;
    grid-gap: 20px;
  
    width: 100%;
  
    box-sizing: border-box;
  
    padding: 10px;
    margin-bottom: 4rem;
  
    .titulo {
      grid-column: 1 / 4;
  
      font-family: 'Playfair Display SC', georgia;
      font-size: 6rem;
      font-weight: 400;
  
      line-height: 1;
  
      margin-bottom: 1rem;
    }
  
    &.animais{
  
      .animais-lista {
        grid-column: 2;
  
        height: 370px;
  
        overflow-y: scroll;
  
        &::-webkit-scrollbar {
          width: 18px;
        }
  
        &::-webkit-scrollbar-thumb {
          background-color: $yellow-bg;
          border-left: 4px solid $body-bg;
          border-right: 4px solid $body-bg;
        }
  
        // &::-webkit-scrollbar-track {
        //   background-color: $body-bg;
        // }
  
        li {
          cursor: pointer;
        }
      }
  
      .animais-descricao {
        grid-column: 3;
  
        section {
          margin-bottom: 3rem;
  
          h2 {
            font-family: 'IBM Plex mono', monospace;
            font-size: 1rem;
  
            text-transform: uppercase;
  
            letter-spacing: .1em;
  
            margin-bottom: 1rem;
  
            color: $text-red;
  
            &::before {
              content: '';
  
              display: inline-block;
  
              width: 40px;
              height: 10px;
  
              margin-right: 10px;
  
              background-color: $yellow-bg;
            }
          }
  
          p {
            font-family: Helvetica, Arial;
      
            line-height: 1.2;
      
            margin-bottom: 1rem;
          }
        }
      }
    }
  
    &.faq {
      .faq-lista {
        grid-column: 2 / 4;
  
        dt {
          font-family: 'IBM Plex Mono', monospace;
          font-weight: bold;
  
          margin-top: 2rem;
          margin-bottom: .5rem;
  
          color: $text-red;
  
          cursor: pointer;
  
          &::before {
            content: '';
  
            display: inline-block;
  
            width: 20px;
            height: 10px;
  
            margin-right: 10px;
  
            background-color: $yellow-bg;
          }
        }
  
        dd {
          font-family: 'Helvetica', arial;
  
          margin-bottom: .5rem;
          margin-left: 30px;
        }
      }
    }
  
    &.contato {
      .mapa {
        grid-column: 2;
      }
  
      .dados {
        grid-column: 3;
  
        li {
          font-family: 'Helvetica', Arial;
  
          margin-bottom: 1rem;
  
          &::before {
            content: '';
  
            display: inline-block;
  
            width: 20px;
            height: 10px;
  
            margin-right: 10px;
  
            background-color: $yellow-bg;
          }
        }
      }
    }
  }

}



.js [data-tab='content'] {
  section {
    display: none;
  }
}

[data-tab='content'] section.ativo {
  display: block;
}

[data-tab='content'] section.ativo.show-down {
  animation: show-down .5s forwards;
}

[data-tab='content'] section.ativo.show-right {
  animation: show-right .5s forwards;
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.js [data-anime="accordion"] {
  dd {
    display: none;

    &.ativo {
      display: block;
      animation: slideDown .5s forwards;
    }
  }

  dt::after {
    content: '⮧';
    margin-left: 10px;
  }

  dt.ativo::after {
    content: '⮥';
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }

  to {
    opacity: 1;
    max-height: 200px;
  }
}

.js [data-anime="scroll"] {
  opacity: 0;
  transform: translate3d(-30px, 0 , 0);
  transition: .3s;

  &.ativo {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}