.menu {
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: $yellow-bg;

  ul {
    display: flex;
    flex-wrap: wrap;

    padding: 10px;

    li a {
      display: block;

      padding: 10px;
      margin-right: 10px;

      font-family: 'IBM Plex Mono', monospace;
      font-weight: bold;
      font-size: 0.875rem;

      letter-spacing: .1em;

      color: $text-color;

      text-decoration: none;
      text-transform: uppercase;
    }
  }
}