.tooltip {
  position: absolute;
  top: 0;
  left: 0;

  max-width: 170px;

  z-index: 500;

  background-color: rgba(0, 0, 0, .6);
  color: #ffffff;

  box-shadow: 0 0 0 2px $yellow-bg, 0 0 0 6px rgba(0, 0, 0, .6);

  padding: .5rem;
  
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  font-size: .875rem;
  
  border-radius: 2px;
}