@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=Playfair+Display+SC&display=swap");
body, h1, h2, ul, li, p, dd, dt, dl {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

@media (max-width: 700px) {
  div.grid-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  div.grid-container .menu, div.grid-container .grid-section, div.grid-container .copy {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  div.grid-container .menu {
    margin-top: 0px;
  }
  div.grid-container .copy {
    margin-bottom: 0px;
  }
  div.grid-container .grid-section {
    -ms-grid-columns: 100px 1fr;
        grid-template-columns: 100px 1fr;
    grid-gap: 10px;
  }
  div.grid-container .grid-section h1.titulo {
    font-size: 3rem;
  }
  div.grid-container .grid-section.animais .animais-lista {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  div.grid-container .grid-section.faq .faq-lista, div.grid-container .grid-section.contato .mapa, div.grid-container .grid-section.contato .dados {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  div.grid-container .grid-section.contato .dados {
    margin-top: 1rem;
  }
}

.menu {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #fb5;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

.menu ul li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  font-size: 0.875rem;
  letter-spacing: .1em;
  color: #222;
  text-decoration: none;
  text-transform: uppercase;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 120px minmax(300px, 800px) 1fr;
      grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.grid-container .grid-section {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90px 300px 1fr;
      grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  margin-bottom: 4rem;
}

.grid-container .grid-section .titulo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  font-family: 'Playfair Display SC', georgia;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1rem;
}

.grid-container .grid-section.animais .animais-lista {
  -ms-grid-column: 2;
  grid-column: 2;
  height: 370px;
  overflow-y: scroll;
}

.grid-container .grid-section.animais .animais-lista::-webkit-scrollbar {
  width: 18px;
}

.grid-container .grid-section.animais .animais-lista::-webkit-scrollbar-thumb {
  background-color: #fb5;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.grid-container .grid-section.animais .animais-lista li {
  cursor: pointer;
}

.grid-container .grid-section.animais .animais-descricao {
  -ms-grid-column: 3;
  grid-column: 3;
}

.grid-container .grid-section.animais .animais-descricao section {
  margin-bottom: 3rem;
}

.grid-container .grid-section.animais .animais-descricao section h2 {
  font-family: 'IBM Plex mono', monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 1rem;
  color: #e54;
}

.grid-container .grid-section.animais .animais-descricao section h2::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.grid-container .grid-section.animais .animais-descricao section p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.grid-container .grid-section.faq .faq-lista {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

.grid-container .grid-section.faq .faq-lista dt {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: .5rem;
  color: #e54;
  cursor: pointer;
}

.grid-container .grid-section.faq .faq-lista dt::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.grid-container .grid-section.faq .faq-lista dd {
  font-family: 'Helvetica', arial;
  margin-bottom: .5rem;
  margin-left: 30px;
}

.grid-container .grid-section.contato .mapa {
  -ms-grid-column: 2;
  grid-column: 2;
}

.grid-container .grid-section.contato .dados {
  -ms-grid-column: 3;
  grid-column: 3;
}

.grid-container .grid-section.contato .dados li {
  font-family: 'Helvetica', Arial;
  margin-bottom: 1rem;
}

.grid-container .grid-section.contato .dados li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background-color: #fb5;
}

.js [data-tab='content'] section {
  display: none;
}

[data-tab='content'] section.ativo {
  display: block;
}

[data-tab='content'] section.ativo.show-down {
  -webkit-animation: show-down .5s forwards;
          animation: show-down .5s forwards;
}

[data-tab='content'] section.ativo.show-right {
  -webkit-animation: show-right .5s forwards;
          animation: show-right .5s forwards;
}

@-webkit-keyframes show-down {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes show-down {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes show-right {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-30px, 0, 0);
            transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes show-right {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-30px, 0, 0);
            transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.js [data-anime="accordion"] dd {
  display: none;
}

.js [data-anime="accordion"] dd.ativo {
  display: block;
  -webkit-animation: slideDown .5s forwards;
          animation: slideDown .5s forwards;
}

.js [data-anime="accordion"] dt::after {
  content: '⮧';
  margin-left: 10px;
}

.js [data-anime="accordion"] dt.ativo::after {
  content: '⮥';
}

@-webkit-keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 200px;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 200px;
  }
}

.js [data-anime="scroll"] {
  opacity: 0;
  -webkit-transform: translate3d(-30px, 0, 0);
          transform: translate3d(-30px, 0, 0);
  -webkit-transition: .3s;
  transition: .3s;
}

.js [data-anime="scroll"].ativo {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.copy {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3 / 5;
  margin-bottom: 2rem;
  background-color: #fb5;
}

.copy p {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  padding: 20px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
}

.modal-container.ativo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-container .modal {
  position: relative;
  min-width: 300px;
  background-color: #ffffff;
  padding: 40px;
  border: 10px solid #fb5;
  -webkit-box-shadow: 0 0 0 10px #ffffff;
          box-shadow: 0 0 0 10px #ffffff;
}

.modal-container .modal.ativo .modal {
  -webkit-animation: modal .3s forwards;
          animation: modal .3s forwards;
}

.modal-container .modal .fechar {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 50px;
  height: 50px;
  background-color: #e54;
  color: #ffffff;
  border: 4px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.2rem;
  cursor: pointer;
}

.modal-container .modal form label {
  display: block;
  margin: 1rem 0 .5rem 0;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
}

.modal-container .modal form input {
  width: 100%;
  padding: .7rem .5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-container .modal form button[type="submit"] {
  display: block;
  background-color: #e54;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: .7rem 2rem;
  margin-top: 1rem;
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  font-weight: bold;
}

@-webkit-keyframes modal {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes modal {
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  from {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 170px;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  -webkit-box-shadow: 0 0 0 2px #fb5, 0 0 0 6px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0 2px #fb5, 0 0 0 6px rgba(0, 0, 0, 0.6);
  padding: .5rem;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  font-size: .875rem;
  border-radius: 2px;
}

[data-dropdown] {
  position: relative;
}

[data-dropdown]:hover .dropdown-menu,
[data-dropdown]:active .dropdown-menu {
  display: block;
  -webkit-animation: show-up .3s forwards;
          animation: show-up .3s forwards;
}

@-webkit-keyframes show-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes show-up {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

[data-dropdown] .dropdown-menu {
  display: none;
  position: absolute;
  top: 38px;
  background-color: #e54;
  border: 2px solid #333;
  z-index: 200;
}

[data-dropdown] .dropdown-menu::before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e54;
}

[data-dropdown] .dropdown-menu li a:hover {
  color: #ffffff;
}

[data-menu="button"] {
  display: none;
}

@media (max-width: 700px) {
  .js [data-menu="button"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #222;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    position: relative;
    z-index: 300;
  }
  .js [data-menu="button"]::before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 12px;
    background-color: #fff;
    -webkit-box-shadow: 0 4px #fff, 0 -4px #fff;
            box-shadow: 0 4px #fff, 0 -4px #fff;
    margin-right: 4px;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .js [data-menu="button"].active::before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .js [data-menu="list"] {
    display: none;
    position: absolute;
    background-color: #fb5;
    width: 160px;
    z-index: 200;
    top: 0;
    padding: 60px 0 20px 0;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .js [data-menu="list"].active {
    display: block;
    -webkit-animation: show-right .3s forwards;
            animation: show-right .3s forwards;
  }
  .js [data-dropdown] .dropdown-menu {
    position: static;
    border: none;
  }
}
/*# sourceMappingURL=main.css.map */