//COLORS
$grayishBlue: hsl(237, 18%, 59%);
$softRed: hsl(345, 95%, 68%);
$white: hsl(0, 0%, 100%);
$darkDesaturatedBlue: hsl(236, 21%, 26%);
$veryDarkBlue: hsl(235, 16%, 14%);
$veryDark: hsl(234, 17%, 12%);

//FONT SIZE
$font-sm: 0.875rem; // 14px